* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(57, 16, 124);
}
.calculadora {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.teste {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(65, 49, 109);
  justify-content: center;
  width: 50%;
  border: 10px solid rgb(225, 201, 228);
}

::-webkit-scrollbar {
  display: none;
}

.botao-numeros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.number {
  width: 32.55%;
  font-family: "Roboto";
  margin: 4px;
  height: 10vh;
  background-image: radial-gradient(
    circle farthest-corner at 92.3% 71.5%,
    rgb(3, 18, 39) 0%,
    rgb(1, 14, 50) 90%
  );
  color: white;
  font-size: 2rem;
  border: solid 2.5px white;
  cursor: pointer;
  border-radius: 3%;
}

.number:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.number:hover {
  background-image: radial-gradient(
    circle farthest-corner at 92.3% 71.5%,
    rgb(1, 13, 29) 0%,
    rgb(2, 9, 31) 90%
  );
}

#valor {
  font-size: 4rem;
  margin-right: 5%;
  font-family: "Roboto";
}
.tela-valor {
  display: flex;
  height: 10%;
  background-color: white;
  align-items: center;
  margin-bottom: 10px;
  justify-content: flex-end;
  width: 99.8%;
  border: 2.5px solid white;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  height: 15%;
}

.navbar {
  list-style: none;
  background-color: rgb(26, 16, 43);
  width: 100%;
  height: 9vh;
  margin-bottom: 10vh;
  border-bottom: 3px solid rgb(161, 132, 241);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar h1 {
  color: rgb(250, 250, 250);
  font-size: 3rem;
}
