body {
  background-color: rgb(13, 49, 104);
}

#contador {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40vh;
  height: 10vh;
  gap: 50px;
  background-color: aqua;
}

button {
  border-radius: 15%;
  font-size: 2rem;
  font-weight: bold;
  width: 80px;
  height: 80px;
}

h2 {
  font-size: 3rem;
}
